body {
    background-image: url('../images/occ.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    margin-bottom: 150px;
}

.card, card-body {
    background-color: rgba(52, 172, 152, 0.6) !important;
}